**/.azure
**/.azuredevops
**/.dockerignore
**/.devcontainer
**/.dockerignore
**/.docker
**/.env
**/.git
**/.gitignore
**/.github
**/.project
**/.settings
**/.template.config
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/obj
**/docs
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
Makefile